<br>
<div class="card">
    <div class="card-header">
      <div class="row">
          <div class="col-md-6">
         Lista de Carrito
          </div>
          
      </div>
  </div>
  <div class="card-body">
    <div class="row filtro">

        <div class="col-md-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="startDateAddon">Desde:</span>
            <input type="date" class="form-control" id="startDate" name="startDate" aria-describedby="startDateAddon">
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="endDateAddon">Hasta:</span>
            <input type="date" class="form-control" id="endDate" name="endDate" aria-describedby="endDateAddon">
        </div>
    </div>

      <div class="col-md-4">
            <div class="d-flex justify-content-end mb-3">
                <button type="button" id="searchButton" class="btn btn-outline-info">Buscar</button>
            </div>

      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
              {{#each carts}}
                  <div class="col">
                      <div class="card">
                          <div class="card-body">
                            <h6 class="card-title">Datos Cliente</h6>
                            <p class="card-text">
                              Nombre: {{this.nombre}}<br>
                              Dirección: {{this.direccion}}<br>
                              Total: {{this.totalPrice}}<br>
                            </p>
                            <button type="button" class="btn btn-warning btn-sm btn-ver"> <i class="bi bi-search" data-id="{{id}}" id="detalle"></i>Ver Detalle</button>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{id}}" onclick="setCartIdToDelete(this.getAttribute('data-id'))">
                          <i class="bi bi-trash"></i>
                        </button>
                          </div>
                      </div>
                  </div>
              {{/each}} 
          </div>
           <nav aria-label="Pagination">
  <ul class="pagination justify-content-center">

    {{#if pagination.hasPrevPage}}
      <li class="page-item">
        <a class="page-link" href="/listcarts/view?page={{pagination.prevPage}}" aria-label="Anterior">
          Anterior
        </a>
      </li>
    {{else}}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">Anterior</span>
      </li>
    {{/if}}

    <li class="page-item disabled">
      <span class="page-link">{{pagination.page}}</span>
    </li>

    {{#if pagination.hasNextPage}}
      <li class="page-item">
        <a class="page-link" href="/listcarts/view?page={{pagination.nextPage}}" aria-label="Siguiente">
          Siguiente
        </a>
      </li>
    {{else}}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">Siguiente</span>
      </li>
    {{/if}}

  </ul>
</nav>
<div class="modal fade" id="cartDetailsModal" tabindex="-1" aria-labelledby="cartDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartDetailsModalLabel">Detalles del Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          
          <div class="row">
            <div class="col-md-6 mb-3">
              <strong>Cliente:</strong> <span id="cartName"></span>
            </div>
            <div class="col-md-6 mb-3">
              <strong>Dirección:</strong> <span id="direccion"></span>
            </div>
          </div>
        </div>
        <h6 class="border-bottom pb-2 mb-3">Detalle Carrito</h6>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Equipo</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody id="cartDetailsTableBody">
          
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Eliminar Equipo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar este Carrtio?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" onclick="deletedeletecart()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/filtrocart.js"></script>
<script src="/js/details.js"></script>