<br>
<div class="card">
  <div class="card-header">
    Lista de equipos
  </div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#if equipos.length}}
        {{#each equipos}}
              <div class="col">
                <div class="card">
                  <img src="{{thumbnail}}" alt="Imagene de equipo" style="width: 10%; height: auto;">
                  <div class="card-body">
                    <h5 class="card-title">{{title}} - ({{category}})</h5>
                    <p class="card-text">
                      Código: {{code}}<br>
                      Descripción: {{description}}<br>
                      Precio: ${{price}}<br>
                      Estado: {{#if status}}Disponible{{else}}Agotado{{/if}}<br>
                      Stock: {{stock}} unidades<br>
                    </p>
                  </div>
                </div>
              </div>
        {{/each}}
  {{else}}
  <p>No hay equipos disponibles.</p>
  {{/if}}   
</div>
  </div>
</div>    
</div>

