<br>
<div class="card">
    <div class="card-header">
      <div class="row">
          <div class="col-md-6">
          Catalogo de Equipo En Venta
          </div>
      </div>
  </div>
  <div class="card-body">
    <div class="row filtro">
      <div class="col-md-3">
          <div class="input-group mb-3">
              <input type="text" name="search"  id="search" class="form-control" placeholder="Buscar Equipo" aria-label="Ingresar Equipo">
          </div>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
        <select class="form-select" id="categorySelect">
            <option value="" selected>Seleccione categorías</option>
            <option value="Laptops">Laptops</option>
            <option value="PCs">PCs</option>
            <option value="Impresoras">Impresoras</option>
            <option value="Equipos de Red">Equipos de Red</option>
        </select>
      </div>

      </div>
      <div class="col-md-3">
          <div class="input-group mb-3">
            <select class="form-select" id="sortSelect">
              <option value="" selected>Order By</option>
              <option value="asc">Ascendente</option>
              <option value="desc">Descendente</option>
            </select>
         </div>
      </div>
      <div class="col-md-3">
            <div class="d-flex justify-content-end mb-3">
                <button type="button" id="searchButton" class="btn btn-outline-info">Buscar</button>
            </div>
      </div>
    </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
          {{#each products}}
              <div class="col">
                  <div class="card">
                    <img src="{{thumbnail}}" alt="Imagen de equipo" style="width: 15%; height: auto;">
                      <div class="card-body">
                        <h5 class="card-title">{{title}} - ({{category}})</h5>
                        <p class="card-text">
                          Código: {{code}}<br>
                          Descripción: {{description}}<br>
                          Precio: ${{price}}<br>
                          Estado: {{#if status}}Disponible{{else}}Agotado{{/if}}<br>
                          Stock: {{stock}} unidades<br>
                        </p>
                        <button type="button" class="btn btn-warning btn-sm btn-comprar"> <i class="bi bi-cart" data-id="{{id}}" id="comprar"></i>Comprar</button>
                      </div>
                  </div>
              </div>
          {{/each}} 
      </div>
   <nav aria-label="Pagination">
  <ul class="pagination justify-content-center">

    {{#if pagination.hasPrevPage}}
      <li class="page-item">
        <a class="page-link" href="/productcatalog?page={{pagination.prevPage}}" aria-label="Anterior">
          Anterior
        </a>
      </li>
    {{else}}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">Anterior</span>
      </li>
    {{/if}}

    <li class="page-item disabled">
      <span class="page-link">{{pagination.page}}</span>
    </li>

    {{#if pagination.hasNextPage}}
      <li class="page-item">
        <a class="page-link" href="/productcatalog?page={{pagination.nextPage}}" aria-label="Siguiente">
          Siguiente
        </a>
      </li>
    {{else}}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">Siguiente</span>
      </li>
    {{/if}}

  </ul>
</nav>

<div class="modal fade" id="modalDetalleCarrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title flex-grow-1">Detalles del Carrito</h5>
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal" id="btnAgregarMas">
                      Agregar Más
                  </button>
  
            </div>
          <div class="modal-body" id="contenidoModal">
          </div>
          <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnCerrar">
                                            Cancelar</button>
                  <button type="button" class="btn btn-info" id="continueToCheckout">Continuar</button>

          </div>
                </div>
            </div>
        </div>

<br>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>
<script>
document.getElementById('continueToCheckout').addEventListener('click', function() {
    const cartData = obtenerDatosDelCarrito();
    localStorage.setItem('cartData', JSON.stringify(cartData));
    window.location.href = '/paycheckout';
});
document.getElementById('searchButton').addEventListener('click', function() {
  const searchInput = document.getElementById('search').value;
  const categorySelect = document.getElementById('categorySelect').value;
  const sortSelect = document.getElementById('sortSelect').value;
  let query = '?';
  if (searchInput) query += `search=${searchInput}&`;
  if (categorySelect) query += `category=${categorySelect}&`;
  if (sortSelect) query += `sort=${sortSelect}&`;
  window.location.href = `/productcatalog${query}`;
});
</script>


