<br>
<div class="card">
  <div class="card-body">
    <h5>Equipo Real-Time</h5>
<div class="row row-cols-1 row-cols-md-3 g-4" id="productList">
  {{#if equipos.length}}
        {{#each equipos}}
              <div class="col">
                <div class="card">
                  <img src="{{thumbnail}}" alt="Imagene de equipo" style="width: 10%; height: auto;">
                  <div class="card-body">
                    <h5 class="card-title">{{title}} - ({{category}})</h5>
                    <p class="card-text">
                      Código: {{code}}<br>
                      Descripción: {{description}}<br>
                      Precio: ${{price}}<br>
                      Estado: {{#if status}}Disponible{{else}}Agotado{{/if}}<br>
                      Stock: {{stock}} unidades<br>
                    </p>
                  </div>
                </div>
              </div>
        {{/each}}
  {{else}}
  <p>No hay equipos disponibles.</p>
  {{/if}}



</div>
  </div>
</div>


<!-- Formulario para agregar productos-->
<br>
<div class="card">
  <h5 class="card-header">Registro de Equipo</h5>
  <div class="card-body">
   <form id="addProductForm" class="row">
    <div class="mb-3 col-md-6">
      <label class="form-label">Título:</label>
      <input type="text" class="form-control" name="title" required>
    </div>

    <div class="mb-3 col-md-6">
      <label  class="form-label">Descripción:</label>
      <textarea class="form-control" name="description" required></textarea>
    </div>

    <div class="mb-3 col-md-6">
      <label  class="form-label">Código:</label>
      <input type="text" class="form-control" name="code" required>
    </div>

    <div class="mb-3 col-md-6">
      <label  class="form-label">Precio:</label>
     <input type="number" class="form-control" name="price" required>
    </div>

    <div class="mb-3 col-md-6">
    <label  class="form-label">Estado:</label>
    <select class="form-select" aria-label="Select status" name="status">
      <option value="true">Disponible</option>
      <option value="false">Agotado</option> 
    </select>
    </div>

    <div class="mb-3 col-md-6">
      <label  class="form-label">Stock:</label>
      <input type="number" class="form-control" name="stock" required>
    </div>

    <div class="mb-3 col-md-6">
      <label  class="form-label">Categoría:</label>
      <input type="text" class="form-control" name="category" required>
    </div>

    <div class="mb-3 col-md-6">
      <label  class="form-label">URL Imagen:</label>
      <input type="text" class="form-control" name="thumbnail" value="img/equipo3.jpg">
    </div>

    <button type="button" class="btn btn-primary" onclick="submitAddProductFormViaSocket()">Agregar Producto</button>
  </form>  
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
